{% extends "base.jinja" %}

{% block title %}Instagram integration . Credentials{% endblock %}

{% block main %}
<main class="medium">
  <section class="page-header">
    <nav class="breadcrumbs">
      <a href="{{ url_for('instagram:connect') }}" title="back">
        <span>Instagram integration</span>
      </a>
    </nav>
    <div class="title-wrapper">
      <h2>Account</h2>
    </div>
  </section>

  <form>
    <article class="card-block">
      <h4>Connect Instagram account</h4>
      <label>
        <p>Store's Instagram username</p>
        <input type="text" name="api-key" required />
      </label>
    </artic
    <div class="form-actions">
      <span></span>
      <a href="{{ url_for('instagram:home') }}" class="button primary" type="submit">Connect</a>
    </div>
  </form>
</main>
{% endblock %}
