{% extends "base.jinja" %}

{% block title %}Instagram integration . Logs{% endblock %}

{% block main %}
<main class="medium">
  <nav class="breadcrumbs">
    <a href="{{ url_for('instagram:connect') }}" title="back">
      <span>Instagram integration</span>
    </a>
  </nav>
  <div class="title-wrapper">
    <h2>Rewards log</h2>
  </div>
  <section class="table-section">
    <div class="table-container">
      <table class="datatable">
        <thead>
          <tr>
            <th class="date">Date</th>
            <th class="numeric">Rules</th>
            <th class="object">Customer</th>
            <th class="link">Instagram account</th>
            <th class="numeric">Points awareded</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="date">Nov 27th, 2022</td>
            <td class="numeric">Instagram follow</td>
            <td class="object">
              <i class="fa-regular fa-user fa-sm"></i> <a href="#" title="Customers">Cameron Williamson</a>
            </td>
            <td class="link">
              <a href="#" title="View order on Instagram">Instagram username</a>
            </td>
            <td class="numeric">300</td>
          </tr>
          <tr>
            <td class="date">Nov 27th, 2022</td>
            <td class="numeric">Instagram follow</td>
            <td class="object">
              <i class="fa-regular fa-user fa-sm"></i> <a href="#" title="Customers">Cameron Williamson</a>
            </td>
            <td class="link">
              <a href="#" title="View order on Instagram">Instagram username</a>
            </td>
            <td class="numeric">300</td>
          </tr>
          <tr>
            <td class="date">Nov 27th, 2022</td>
            <td class="numeric">Instagram follow</td>
            <td class="object">
              <i class="fa-regular fa-user fa-sm"></i> <a href="#" title="Customers">Cameron Williamson</a>
            </td>
            <td class="link">
              <a href="#" title="View order on Instagram">Instagram username</a>
            </td>
            <td class="numeric">300</td>
          </tr>
          <tr>
            <td class="date">Nov 27th, 2022</td>
            <td class="numeric">Instagram follow</td>
            <td class="object">
              <i class="fa-regular fa-user fa-sm"></i> <a href="#" title="Customers">Cameron Williamson</a>
            </td>
            <td class="link">
              <a href="#" title="View order on Instagram">Instagram username</a>
            </td>
            <td class="numeric">300</td>
          </tr>
          <tr>
            <td class="date">Nov 27th, 2022</td>
            <td class="numeric">Instagram follow</td>
            <td class="object">
              <i class="fa-regular fa-user fa-sm"></i> <a href="#" title="Customers">Cameron Williamson</a>
            </td>
            <td class="link">
              <a href="#" title="View order on Instagram">Instagram username</a>
            </td>
            <td class="numeric">300</td>
          </tr>
          <tr>
            <td class="date">Nov 27th, 2022</td>
            <td class="numeric">Instagram follow</td>
            <td class="object">
              <i class="fa-regular fa-user fa-sm"></i> <a href="#" title="Customers">Cameron Williamson</a>
            </td>
            <td class="link">
              <a href="#" title="View order on Instagram">Instagram username</a>
            </td>
            <td class="numeric">300</td>
          </tr>
          <tr>
            <td class="date">Nov 27th, 2022</td>
            <td class="numeric">Instagram follow</td>
            <td class="object">
              <i class="fa-regular fa-user fa-sm"></i> <a href="#" title="Customers">Cameron Williamson</a>
            </td>
            <td class="link">
              <a href="#" title="View order on Instagram">Instagram username</a>
            </td>
            <td class="numeric">300</td>
          </tr>
          <tr>
            <td class="date">Nov 27th, 2022</td>
            <td class="numeric">Instagram follow</td>
            <td class="object">
              <i class="fa-regular fa-user fa-sm"></i> <a href="#" title="Customers">Cameron Williamson</a>
            </td>
            <td class="link">
              <a href="#" title="View order on Instagram">Instagram username</a>
            </td>
            <td class="numeric">300</td>
          </tr>
          <tr>
            <td class="date">Nov 27th, 2022</td>
            <td class="numeric">Instagram follow</td>
            <td class="object">
              <i class="fa-regular fa-user fa-sm"></i> <a href="#" title="Customers">Cameron Williamson</a>
            </td>
            <td class="link">
              <a href="#" title="View order on Instagram">Instagram username</a>
            </td>
            <td class="numeric">300</td>
          </tr>
          <tr>
            <td class="date">Nov 27th, 2022</td>
            <td class="numeric">Instagram follow</td>
            <td class="object">
              <i class="fa-regular fa-user fa-sm"></i> <a href="#" title="Customers">Cameron Williamson</a>
            </td>
            <td class="link">
              <a href="#" title="View order on Instagram">Instagram username</a>
            </td>
            <td class="numeric">300</td>
          </tr>
          <tr>
            <td class="date">Nov 27th, 2022</td>
            <td class="numeric">Instagram follow</td>
            <td class="object">
              <i class="fa-regular fa-user fa-sm"></i> <a href="#" title="Customers">Cameron Williamson</a>
            </td>
            <td class="link">
              <a href="#" title="View order on Instagram">Instagram username</a>
            </td>
            <td class="numeric">300</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
{% endblock %}
